.logo {
    transition: filter 300ms;
    padding: var(--cms-ui-spacing-sm);
    height: 6em;
    will-change: filter;

    &:hover {
        filter: drop-shadow(0 0 2em var(--cms-ui-color-gray-200));
    }
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 3s linear;
    }
}
