.main-content{
    padding: var(--cms-ui-spacing-lg) var(--cms-ui-spacing-lg);

    .edit-url {
        background-color: var(--cms-ui-color-white-card);
        padding: var(--cms-ui-spacing-xl);
        gap: var(--cms-ui-spacing-lg);

        .display-profile{
            display:flex;
            gap: var(--cms-ui-spacing-lg);
        }
        .display-content{
            display: flex;
            flex-direction: column;
            gap: var(--cms-ui-spacing-sm);
        }

        .form-content {
            width: 35rem;
        }

        .form {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
            gap: var(--cms-ui-spacing-lg);

            .full-size-input {
                grid-column: 1 / -1;
            }
        }
        .actions{
            display:flex;
            gap: var(--cms-ui-spacing-md);
        }
    }
}