.main-content{
    padding: var(--cms-ui-spacing-lg) var(--cms-ui-spacing-lg);

    .edit-url {
        background-color: var(--cms-ui-color-white-card);
        padding: var(--cms-ui-spacing-xl);
        gap: var(--cms-ui-spacing-lg);
        width:100%;

        .display-profile{
            display:flex;
            gap: var(--cms-ui-spacing-lg);          
        }
        .display-content{
            display: flex;
            flex-direction: column;
            gap: var(--cms-ui-spacing-sm);
        }
        .profile-update{
            display: flex;
            align-items:flex-end;
            
            .profile-image{
                display: flex;
                flex-shrink: 0;
                border-radius: 50%;
                width: calc(96px + 15vh);
                height: calc(96px + 15vh);
                --size: calc(96px + 15vh);
               
            }
            .edit-button{
                font-size: var(--cms-ui-font-size-xs); 
            }
        }
        .form {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
            gap: var(--cms-ui-spacing-lg);

            .full-size-input {
                grid-column:1 /-1;
                width:65%;
            }
        }
        .actions{
            display:flex;
            gap: var(--cms-ui-spacing-md);
        }
        .change-password-icon {
            font-size: var(--cms-ui-font-size-xs);
        }
    }
}