.main-content{
    padding: var(--cms-ui-spacing-lg) var(--cms-ui-spacing-lg);
    .edit-organization {
        display:flex;
        background-color: var(--cms-ui-color-white-card);
        padding: var(--cms-ui-spacing-xl);
        gap: var(--cms-ui-spacing-lg);
        .organization-action{
            display: flex;
            align-items:flex-end ;

            .round-image{
                display: flex;
                flex-shrink: 0;
                border-radius: 50%;
                width: calc(96px + 15vh);
                height: calc(96px + 15vh);
                --size: calc(96px + 15vh);
            }
            .upload-button{
                position: absolute;
                left:30%;
                font-size: var(--cms-ui-font-size-xs); 
            }
        }     
        .form-content {
            width: 35rem;
        }

        .form {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
            gap: var(--cms-ui-spacing-lg);

            .full-size-input {
                grid-column: 1 / -1;
            }
        }
        .actions{
            display:flex;
            gap: var(--cms-ui-spacing-md);
        }
    }
}