.heading {
    --font-size: var(--cms-ui-font-size-3xl);
    --line-height: var(--cms-ui-line-height-sm);
    margin: 0;
    line-height: var(--line-height);
    font-size: var(--font-size);

    &.level-one {
        --font-size: var(--cms-ui-font-size-5xl);
    }

    &.level-two {
        --font-size: var(--cms-ui-font-size-4xl);
    }

    &.level-three {
        --font-size: var(--cms-ui-font-size-3xl);
    }

    &.level-four {
        --font-size: var(--cms-ui-font-size-2xl);
    }

    &.level-five {
        --font-size: var(--cms-ui-font-size-xl);
    }

    &.level-six {
        --font-size: var(--cms-ui-font-size-lg);
    }
}
