.content-actions{
    display :flex;
    flex-direction:row;
    gap: var(--cms-ui-spacing-sm);
    padding: var(--cms-ui-spacing-xs) var(--cms-ui-spacing-xs) var(--cms-ui-spacing-xs) var(--cms-ui-spacing-md);
}