.footer-content{
    display: flex;
    gap: var(--cms-ui-spacing-md);
}
.form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    width: 100%;
    gap: var(--cms-ui-spacing-lg);

    .full-size-input {
        grid-column: 1 / -1;
    }

    .justify-note {
        grid-column: 1 / -1;
        color: var( --cms-ui-color-gray-50);
        font-size: var(--cms-ui-font-size-sm);
    }
}

