.main-content{
    padding: var(--cms-ui-spacing-lg) var(--cms-ui-spacing-lg);

    .edit-organization {
        display:flex;
        background-color: var(--cms-ui-color-white-card);
        padding: var(--cms-ui-spacing-xl);
        gap: var(--cms-ui-spacing-lg);

        .organization-action{
            display: flex;
            align-items:flex-end ;

            .round-image{
                border-radius: 50%;
                background-color: var(--cms-ui-color-background); 
                width: 7rem;
                height: 7rem;
            }
            .edit-button{
                padding: var(--cms-ui-spacing-xs);  
                font-size: var(--cms-ui-font-size-xs); 
            }
        }
        
        .form {
            display: grid;
            gap: var(--cms-ui-spacing-lg);

            .full-size-input {
                max-width: 30rem;
            }
        }
        .actions{
            display:flex;
            gap: var(--cms-ui-spacing-md);
        }
    }
}

